*{
  margin: 0;
  padding: 0;
}

.nopadding{
  padding:0;
}

#header{
  margin-top:50px;
}

.container .row{
  margin-top: 30px;
  margin-bottom: 30px;
}

#quality h3{
  margin-bottom: 20px;
}

#quality button{
  margin: 0 5px;
}

#quality button:nth-child(2){
  margin-left: 0;
}

.well.scrollable{
  height: 300px;
  overflow-y: scroll;
}